@media only screen and (min-width: 320px){
	.intro-header{
		background-image: url("../img/lawquad1.jpg");
	}

	.content-section-a{
		padding: 0px;
	}
	/*facts*/
	.facts li{
		font-size: 18px;
		padding-bottom: 10px;
		padding-top: 8px;
	}
	.facts{
		margin-left: 3em;
	}
	.section-heading{
		font-size: 30px;
	}
	.owl-wrapper-outer{
		margin-top: 30px;
	}
	/*education*/
	#education{
	    background-image: url("../img/Ross.jpg");
	    background-size: cover;
	    height: 1200px;
	    padding: 0px;
  	}
  	#educationTransparent{
    	background-color: RGBA(0,0,0,0.5);
    	height: 1200px;
    	width: 100%;
  	}
  	#educationFacts, #workFacts{
	    margin-left: 10px;
	    color: white;
	}
	#educationFacts h4{
		margin-bottom: 5px;
		margin-top: 10px;
	}
	#educationFacts p{
    	font-weight: 300;
    	text-align: left;
  	}
  	#educationFacts h3{
  		font-size: 30px;
  	}
  	#educationFacts p:hover{
    	font-size: 500;
  	}
  	.list-inline{
  		margin-top: 5px;
  	}
  	.list-inline li{
    	font-weight: 300;
    	font-size: 15px;
    	padding: 3px;
  	}
  	.list-inline li:hover{
    	font-weight: 500;
  	}
  	/*work experience*/
	#workExperience .logo{
		height: 130px;
		width: 150px;
		margin: 0px auto;
	}
	#workExperience img{
		height: 120px;
		width: 120px;
		margin: 0px auto;
	}
	#workExperience h3{
		margin-top: 2px;
	}
	#workExperience h5{
		margin-bottom: 0px;
		margin-top: 3px;
	}
	#workExperience p{
		margin-bottom: 0px;
		margin-top: 2px;
	}
	.content-section-b{
		padding-top: 10px;
	}
}

@media only screen and (min-width: 480px){
	#education, #educationTransparent{
		height: 850px;
	}
}

@media only screen and (min-width: 768px){
	#education, #educationTransparent{
    	height: 670px;
  	}
}
@media only screen and (min-width : 992px) {
	#education, #educationTransparent{
    	height: 500px;
  	}

}